body, html {
    background-color: white;
    height: 100%;
    margin: auto;
    display: flex;
}
#container {
    display: flex;
    flex-direction: column;
    background-color: lightseagreen;
    min-height: 370px;
    max-width: 500px;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 8px grey;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(21, 100, 55);
    width: 300px;
    text-align: center;
    font-size: 1.8em;
    margin: auto;
}
#content {
    display: flex;
    max-width: 100%;
    margin: auto;
}
#left {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    align-items: center;
}
#right {
    display: flex;
    width: 250px;
    flex-direction: column;
    margin: auto;
    border-left: 1px solid gray;
    align-items: center;
}
input[type=text] {
    display: flex;
    border-radius: 4px;
    height: 35px;
    margin: 25px 0;
    padding-left: 5px;
    border: 0;
    background-color: lightcyan;
}
.button {
    background-color: lightgreen;
    display: flex;
    width: 90px;
    height: 40px;
    padding-left: 25px;
    border: 0;
    border-radius: 5px;
}
.button:hover {
    cursor: pointer;
}
#output-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 211px;
}
.output {
    font-family: Helvetica, sans-serif;
    background-color: aliceblue;
    margin: auto;
    padding: 10px 20px;
    border-radius: 3px;
    color: darkslategray;
}

@media (max-width: 600px) {
    #content {
        flex-direction: column;
    }
    #right {
        border-left: 0;
        border-top: 1px solid gray;
        margin-top: 20px;
    }
    #output-container {
        margin-top: 20px;
}
